name: linter

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: write

jobs:
  quality:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-version: ['8.4']
    steps:
      - uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          npm install

      - name: Backend format check
        run: composer lint
     
      - name: Backend static analysis
        run: composer types

      - name: Frontend format check
        run: npm run format:check

      - name: Frontend type check
        run: npm run lint

      - name: Frontend lint
        run: npm run lint